<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">

    {% if title %}
        <title>Workout Program - {{ title }}</title>
    {% else %}
        <title>Workout Program</title>
    {% endif %}

</head>
<body>

    <h1>Workout Program Generator</h1>
    <h2>available programs:</h2>
    <script type="text/javascript" src="{% static '/js/script.js' %}"></script>

<!-- TODO: link programs -->

    {% for program in programs %}
        <h3>{{ program.name }}</h3>
    {% endfor %}

</body>
</html>
